<div class="flex bg-rect relative overflow-hidden rounded-3xl my-12">
  <div class="relative -left-[15%]">
    <include src="components/circleSvg.html"></include>
  </div>
  <div class="flex flex-col justify-evenly text-center text-white">
    <h6 class="text-4xl font-bold">Contract</h6>
    <p class="text-2xl font-normal">
      Contract is renounced and liquidity is locked
    </p>
    <div class="font-bold">
      <p>Creators Holds no large figure above 5%</p>
      <p>NO BIG WHALE HOLDS ABOVE 5%</p>
    </div>
  </div>
  <div class="relative -right-[15%]">
    <include src="components/circleSvg.html"></include>
  </div>
</d>
