<section class="container px-4 mb-12">
  <h4 class="text-center text-xl md:text-3xl font-bold mb-4">$HISBERA FAQ</h4>
  <include src="components/animate/animate.html"></include>
  <div
    class="flex justify-center items-center flex-col sm:flex-row sm:flex-wrap md:flex-nowrap gap-4 scroll-in js-opacity"
  >
    <module href="/components/card.html" locals='{"title": "Create a wallet"}'>
      <p>
        Download Metamask or your wallet of choice from the app store or Google
        Play store for free. Desktop users, download the Google Chrome extension
        by going to metamask.io.
      </p>
    </module>
    <module href="/components/card.html" locals='{"title": "Get some ETH"}'>
      <p>
        Have ETH in your wallet to switch to $HISBERA. If you don’t have ETH,
        you can buy directly on metamask, transfer from another wallet, or buy
        on an exchange and send it to you.
      </p>
    </module>
    <module href="/components/card.html" locals='{"title": "Go to Uniswap"}'>
      <p>
        Go to app.uniswap.org. Connect your wallet. Paste the $HISBERA token
        address into Uniswap, select WEN Token, and confirm. When Metamask
        prompts you for a wallet signature, sign.
      </p>
    </module>
  </div>
</section>
