<section class="relative h-96 w-full">
  <div class="parallax custom-img fixed">
    <!-- <img
      src="../assets/images/black-overlay.png"
      alt=""
      class="parallax-image"
    /> -->
    <img
      src="../assets/images/spiral.png"
      alt=""
      class="parallax-image w-full h-full object-cover absolute opacity-60"
    />
    <div class="w-full h-full absolute opacity-20 bg-black"></div>
    <div
      class="flex flex-col justify-center items-center absolute text-black h-full w-full gap-7 px-4"
    >
      <div class="flex flex-col text-center gap-6 p-6 rounded-3xl hero">
        <h1 class="text-xl md:text-3xl font-700">$HISBERA</h1>
        <div class="text-lg md:text-xl">
          <p>$HISBERA is a memecoin that tells a story of how a</p>
          <p>mysterious invention conquered artificial intelligence.</p>
        </div>
      </div>
      <div class="mt-5">
        <button
          class="px-8 py-3 text-base rounded-xl shadow-sm hero"
          id="modalButton"
        >
          Our Story
        </button>
      </div>
      <include src="components/storyModal.html"></include>
    </div>
  </div>
</section>
