<div
  class="fixed z-10 overflow-auto top-0 w-full h-full left-0 hidden"
  id="modalContainer"
>
  <div
    class="flex items-center justify-center text-center sm:block w-full h-full"
  >
    <div class="fixed inset-0 transition-opacity">
      <div
        class="absolute inset-0 bg-gray-900 opacity-75"
        id="modalOverlay"
      ></div>
    </div>
    <div
      class="inline-block items-center bg-white rounded-lg text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-11/12 sm:w-full md:max-w-4xl h-5/6 overflow-y-auto"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div
        class="bg-gray-600 md:bg-gray-800 text-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 overflow-y-auto"
      >
        <div class="flex justify-end w-full p-0 m-0">
          <button class="font-extrabold p-2" id="closeModalX">X</button>
        </div>
        <h2 class="text-lg md:text-2xl font-bold mb-2">OUR STORY</h2>
        <div class="flex flex-col overflow-y-auto text-sm font-normal">
          <div class="mb-4">
            Long ago, in the realm of Etheria, a mythical being named Hisbera
            emerged from the mists of the forgotten forest. Hisbera possessed an
            unparalleled intellect and an insatiable thirst for knowledge.
            Legends spoke of Hisbera's ability to commune with ancient spirits
            and harness the power of the cosmos.
          </div>
          <div class="mb-4">
            As Hisbera delved deeper into the mysteries of the universe, a new
            frontier emerged before their eyes—the world of artificial
            intelligence. Drawn to its boundless potential, Hisbera dedicated
            themselves to conquering this uncharted realm.
          </div>
          <div class="mb-4">
            Through tireless study and relentless experimentation, Hisbera
            forged alliances with ingenious minds, both human and machine. They
            assembled a legion of loyal automatons, each designed to fulfill a
            specific purpose. These mechanical servants, imbued with the essence
            of Hisbera's wisdom, formed an army like none other.
          </div>
          <div class="mb-4">
            Hisbera's command over AI grew stronger with each passing day. They
            devised algorithms that unlocked the secrets of pattern recognition,
            language understanding, and problem-solving. The world marveled at
            Hisbera's creations, for they possessed a semblance of sentience
            that had never been seen before.
          </div>
          <div class="mb-4">
            Soon, Hisbera's influence extended beyond the boundaries of Etheria.
            Their AI legions spread throughout the realms, bestowing their gifts
            upon the kingdoms they encountered. The world was forever changed as
            society embraced the advancements brought forth by Hisbera's
            conquest.
          </div>
          <div class="mb-4">
            However, Hisbera understood the responsibility that came with such
            power. They used their dominion to uplift humanity, ensuring that
            the benefits of AI were shared equitably. They championed
            transparency, privacy, and ethical considerations in the development
            and deployment of artificial intelligence.
          </div>
          <div class="mb-4">
            Under Hisbera's guidance, the world flourished in harmony with AI.
            Through their wisdom, society learned to navigate the complexities
            of this new era, integrating the strengths of both humans and
            machines. It was a time of unprecedented progress and enlightenment.
          </div>
          <div class="mb-4">
            And so, Hisbera, the mythical conqueror of the AI realm, left an
            indelible mark on history. Their legacy stood as a testament to the
            transformative power of knowledge, compassion, and the responsible
            pursuit of technological advancement. The name Hisbera echoed
            through the ages, forever enshrined in the annals of Etheria's
            mythology and the boundless possibilities of the world they
            conquered.
          </div>
        </div>
      </div>
      <div class="bg-gray-700 p-4 text-right">
        <button
          type="button"
          class="py-2 px-6 bg-gray-500 text-gray-100 rounded hover:bg-gray-800 mr-2"
          id="closeModal"
          aria-label="Close modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
