<section class="flex w-full">
  <div
    class="grid grid-cols-1 md:grid-cols-2 bg-token-bg border border-solid border-token-border w-full sm:divide-x divide-token-border px-4 md:px-0 my-20"
  >
    <div class="flex flex-col py-4 px-4 md:px-12 lg:px-20">
      <h2 class="text-lg md:text-2xl font-medium mb-2">TOKENOMICS</h2>
      <p class="text-sm font-normal">
        $HISBERA is an ERC-20 token built on the Ethereum blockchain, which
        ensures its compatibility with existing blockchain infrastructures. The
        total supply of $HISBER is capped at 1 TRILLION tokens, with no plans
        for minting new tokens in the future.
      </p>
    </div>

    <div class="text-sm font-normal">
      <div class="flex flex-wrap">
        <div
          class="flex justify-between items-center divide-y sm:divide-y-0 sm:divide-x divide-token-border border-b border-token-border w-full h-full flex-wrap"
        >
          <div class="flex items-center justify-center p-4">
            Stealth fair launch
          </div>
          <div class="flex items-center justify-center p-4">
            No team allocation
          </div>
          <div class="flex items-center justify-center p-4">No pre-sale</div>
          <div class="flex items-center justify-center p-4">
            1 Trillion Supply
          </div>
          <div class="flex items-center justify-center p-4">10% Marketing</div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div
          class="flex justify-center items-center divide-x divide-token-border border-b border-token-border w-full"
        >
          <div class="flex items-center justify-center p-4">
            Stealth fair launch
          </div>
          <div class="flex items-center justify-center p-4">
            No team allocation
          </div>
          <div class="flex items-center justify-center p-4">No pre-sale</div>
          <div class="flex items-center justify-center p-4">
            1 Trillion Supply
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div
          class="flex justify-center items-center divide-x divide-token-border border-token-border w-full"
        >
          <div class="flex items-center justify-center p-4">
            40% Initial Liquidity
          </div>
          <div class="flex items-center justify-center p-4">
            Remaining supply Burn
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
