<div
  class="stack_stack__77KWN stack foundation_illustration__xuRxj"
  data-version="v1"
  style="
    --stack-flex: initial;
    --stack-direction: column;
    --stack-align: center;
    --stack-justify: center;
    --stack-padding: 0px;
    --stack-gap: 0px;
  "
>
  <svg
    width="892"
    height="264"
    viewBox="0 0 892 264"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_7_2)" class="animatedLine">
      <path
        class="animated-svg"
        d="M388.5 96V68C388.5 65.7909 386.709 64 384.5 64H310.5"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M349.5 150H73.5C71.2909 150 69.5 151.791 69.5 154V174"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M547.5 130H822.5C824.709 130 826.5 131.791 826.5 134V264"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M547.5 130H822.5C824.709 130 826.5 131.791 826.5 134V264"
        stroke="url(#paint0_linear_7_2)"
        stroke-width="2"
      />
      <path
        d="M349.5 130H5.50001C3.29087 130 1.5 131.791 1.5 134V264"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M349.5 130H5.50001C3.29087 130 1.5 131.791 1.5 134V264"
        stroke="url(#paint1_linear_7_2)"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        class="animated-svg"
        d="M547.5 150H633.5C635.709 150 637.5 151.791 637.5 154V236C637.5 238.209 635.709 240 633.5 240H488.5C486.291 240 484.5 241.791 484.5 244V264"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M547.5 150H633.5C635.709 150 637.5 151.791 637.5 154V236C637.5 238.209 635.709 240 633.5 240H488.5C486.291 240 484.5 241.791 484.5 244V264"
        stroke="url(#paint2_linear_7_2)"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        class="animated-svg"
        d="M388.5 184V194C388.5 196.209 386.709 198 384.5 198H77.5C75.2909 198 73.5 199.791 73.5 202V264"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M388.5 184V194C388.5 196.209 386.709 198 384.5 198H77.5C75.2909 198 73.5 199.791 73.5 202V264"
        stroke="url(#paint3_linear_7_2)"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        class="animated-svg"
        d="M412.5 96V0"
        stroke="url(#paint4_linear_7_2)"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M412.5 263.5V184"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        d="M412.5 263.5V184"
        stroke="url(#paint5_linear_7_2)"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        class="animated-svg"
        d="M508.5 96V88C508.5 85.7909 510.291 84 512.5 84H886.5C888.709 84 890.5 85.7909 890.5 88V264"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M508.5 96V88C508.5 85.7909 510.291 84 512.5 84H886.5C888.709 84 890.5 85.7909 890.5 88V264"
        stroke="url(#paint6_linear_7_2)"
        stroke-width="2"
      />
      <path
        class="animated-svg"
        d="M436.5 96V0"
        stroke="url(#paint7_linear_7_2)"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M436.5 214V184"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M460.5 96V64"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M460.5 239V184"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M484.5 96V24C484.5 21.7909 486.291 20 488.5 20H554.5"
        stroke="url(#paint8_linear_7_2)"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M484.5 184V210C484.5 212.209 486.291 214 488.5 214H560.5"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        class="animated-svg"
        d="M508.5 184V193C508.5 195.209 510.291 197 512.5 197H560.5"
        stroke="black"
        stroke-opacity="0.1"
        stroke-dasharray="1 1"
      />
      <path
        d="M460.5 68C462.709 68 464.5 66.2091 464.5 64C464.5 61.7909 462.709 60 460.5 60C458.291 60 456.5 61.7909 456.5 64C456.5 66.2091 458.291 68 460.5 68Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M460.5 67.5C462.433 67.5 464 65.933 464 64C464 62.067 462.433 60.5 460.5 60.5C458.567 60.5 457 62.067 457 64C457 65.933 458.567 67.5 460.5 67.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
      <path
        d="M308.5 68C310.709 68 312.5 66.2091 312.5 64C312.5 61.7909 310.709 60 308.5 60C306.291 60 304.5 61.7909 304.5 64C304.5 66.2091 306.291 68 308.5 68Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M308.5 67.5C310.433 67.5 312 65.933 312 64C312 62.067 310.433 60.5 308.5 60.5C306.567 60.5 305 62.067 305 64C305 65.933 306.567 67.5 308.5 67.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
      <path
        d="M69.5 177C71.7091 177 73.5 175.209 73.5 173C73.5 170.791 71.7091 169 69.5 169C67.2909 169 65.5 170.791 65.5 173C65.5 175.209 67.2909 177 69.5 177Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M69.5 176.5C71.433 176.5 73 174.933 73 173C73 171.067 71.433 169.5 69.5 169.5C67.567 169.5 66 171.067 66 173C66 174.933 67.567 176.5 69.5 176.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
      <path
        d="M436.5 218C438.709 218 440.5 216.209 440.5 214C440.5 211.791 438.709 210 436.5 210C434.291 210 432.5 211.791 432.5 214C432.5 216.209 434.291 218 436.5 218Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M436.5 217.5C438.433 217.5 440 215.933 440 214C440 212.067 438.433 210.5 436.5 210.5C434.567 210.5 433 212.067 433 214C433 215.933 434.567 217.5 436.5 217.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
      <path
        d="M460.5 244C462.709 244 464.5 242.209 464.5 240C464.5 237.791 462.709 236 460.5 236C458.291 236 456.5 237.791 456.5 240C456.5 242.209 458.291 244 460.5 244Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M460.5 243.5C462.433 243.5 464 241.933 464 240C464 238.067 462.433 236.5 460.5 236.5C458.567 236.5 457 238.067 457 240C457 241.933 458.567 243.5 460.5 243.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
      <path
        d="M560.5 218C562.709 218 564.5 216.209 564.5 214C564.5 211.791 562.709 210 560.5 210C558.291 210 556.5 211.791 556.5 214C556.5 216.209 558.291 218 560.5 218Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M560.5 217.5C562.433 217.5 564 215.933 564 214C564 212.067 562.433 210.5 560.5 210.5C558.567 210.5 557 212.067 557 214C557 215.933 558.567 217.5 560.5 217.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
      <path
        d="M560.5 201C562.709 201 564.5 199.209 564.5 197C564.5 194.791 562.709 193 560.5 193C558.291 193 556.5 194.791 556.5 197C556.5 199.209 558.291 201 560.5 201Z"
        fill="black"
      />
      <path
        class="animated-svg"
        d="M560.5 200.5C562.433 200.5 564 198.933 564 197C564 195.067 562.433 193.5 560.5 193.5C558.567 193.5 557 195.067 557 197C557 198.933 558.567 200.5 560.5 200.5Z"
        stroke="black"
        stroke-opacity="0.1"
      />
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_7_2"
        x1="360.5"
        y1="130"
        x2="400.5"
        y2="170"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0%" stop-color="rgba(255, 0, 0, 0.2)" />
        <stop offset="50%" stop-color="rgba(0, 255, 0, 0.2)" />
        <stop offset="100%" stop-color="rgba(0, 0, 255, 0.2)" />
      </linearGradient>
      <linearGradient
        id="paint0_linear_7_2"
        x1="360.5"
        y1="130"
        x2="400.5"
        y2="170"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF7432" stop-opacity="0" />
        <stop offset="0.0550784" stop-color="#FF7432" />
        <stop offset="0.373284" stop-color="#F7CC4B" />
        <stop offset="1" stop-color="#F7CC4B" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint1_linear_7_2"
        x1="92.6684"
        y1="313.145"
        x2="91.2223"
        y2="406.866"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#2EB9DF" stop-opacity="0" />
        <stop offset="0.05" stop-color="#2EB9DF" />
        <stop offset="1" stop-color="#2EB9DF" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint2_linear_7_2"
        x1="475.5"
        y1="120"
        x2="488.5"
        y2="150"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF4A81" stop-opacity="0" />
        <stop offset="0.0564843" stop-color="#FF4A81" />
        <stop offset="0.4616" stop-color="#DF6CF6" />
        <stop offset="1" stop-color="#0196FF" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint3_linear_7_2"
        x1="400.5"
        y1="83"
        x2="350.5"
        y2="133.75"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#2EB9DF" stop-opacity="0" />
        <stop offset="0.05" stop-color="#2EB9DF" />
        <stop offset="1" stop-color="#2EB9DF" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint4_linear_7_2"
        x1="-nan"
        y1="-nan"
        x2="-nan"
        y2="-nan"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-opacity="0" />
        <stop offset="1" />
      </linearGradient>
      <linearGradient
        id="paint5_linear_7_2"
        x1="-nan"
        y1="-nan"
        x2="-nan"
        y2="-nan"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF4A81" stop-opacity="0" />
        <stop offset="0.03" stop-color="#FF4A81" />
        <stop offset="0.27" stop-color="#DF6CF6" />
        <stop offset="1" stop-color="#0196FF" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint6_linear_7_2"
        x1="300.5"
        y1="140"
        x2="400.5"
        y2="180"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF7432" stop-opacity="0" />
        <stop offset="0.0531089" stop-color="#FF7432" />
        <stop offset="0.415114" stop-color="#F7CC4B" />
        <stop offset="1" stop-color="#F7CC4B" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint7_linear_7_2"
        x1="-nan"
        y1="-nan"
        x2="-nan"
        y2="-nan"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-opacity="0" />
        <stop offset="1" />
      </linearGradient>
      <linearGradient
        id="paint8_linear_7_2"
        x1="554.5"
        y1="20"
        x2="484.5"
        y2="96"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-opacity="0" />
        <stop offset="1" />
      </linearGradient>
      <clipPath id="clip0_7_2">
        <rect
          width="891"
          height="264"
          fill="white"
          transform="translate(0.5)"
        />
      </clipPath>
    </defs>
  </svg>

  <div
    class="stack_stack__77KWN stack foundation_cpu__C4fNW"
    data-version="v1"
    style="
      --stack-flex: initial;
      --stack-direction: column;
      --stack-align: center;
      --stack-justify: center;
      --stack-padding: 0px;
      --stack-gap: 0px;
      background: #222;
    "
    aria-hidden="true"
  >
    <div data-cpu-shine="true"></div>
    <div data-connectors="true" data-side="left">
      <span data-connector="true"></span><span data-connector="true"></span>
    </div>
    <div data-connectors="true" data-side="top">
      <span data-connector="true"></span><span data-connector="true"></span
      ><span data-connector="true"></span><span data-connector="true"></span
      ><span data-connector="true"></span><span data-connector="true"></span>
    </div>
    <span data-text="true" class="text-2xl font-bold">How To Buy</span>
    <div data-connectors="true" data-side="bottom">
      <span data-connector="true"></span><span data-connector="true"></span
      ><span data-connector="true"></span><span data-connector="true"></span
      ><span data-connector="true"></span><span data-connector="true"></span>
    </div>
    <div data-connectors="true" data-side="right">
      <span data-connector="true"></span><span data-connector="true"></span>
    </div>
  </div>
</div>
